# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: general pipeline from testing to upload

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'



permissions:
  contents: read

jobs:
  Test:
    name: Test on Windows

    runs-on: windows-latest
    
    strategy:
      matrix:
        os: [windows-latest]
        python-version: [ '3.10', '3.11', '3.12', '3.13']

    steps:
    - uses: actions/checkout@v4
    - name: Set up all python versions
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: pip install numpy pyvista gdspy matplotlib cycler shapely
    
    - name: Test with unittest
      run: python -m unittest tests/test_all.py
  
  Stage:
    name: Send to testPyPi
    
    runs-on: ubuntu-latest
    
    needs: Test
    
    environment:
      name: Staging

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Build package
      run: python -m build
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.NEXTNANO_TESTPYPI_TOKEN }}
        repository-url: https://test.pypi.org/legacy/
        verbose: true
        
  Deploy:

    runs-on: ubuntu-latest
    name: Send to PyPi
    needs: Stage
    environment:
      name: Production

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Build package
      run: python -m build
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.NEXTNANO_PYPI_TOKEN }}
